:root {
  --inc-step: 1;
  --height: 100vh;
  --scroll: 0;
  --x: 0px;
  --y: 0px;
  --animation-time: 2s;
  --left: 50%;
  --title-font: 'Involve', sans-serif;
  --text-font: 'Rubik', sans-serif;
  --bg: #fff;
  --text: #161616;
  --white: #fff;
  --black: #000;
  --text-gray: #6c6c6c;
  --gray-border: #d3d3d3;
  --button-gray: #f0f0f0;
  --border: #dfdfdf;
  --orange: #e7b85c;
  --purple: #40018c;
  --error: #d91717;
  --green: #0fe397;
}

/* Dark mode */
.dark {
  --bg: #0f0f0f;
  --text: #f8f8f8;
  --border: #424242;
  --gray-border: #424242;
  --text-gray: #d3d3d3;
  --purple: #644bb1;
}
/* Dark mode */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--text);
  color: var(--bg);
}

*::selection {
  background-color: var(--text);
  color: var(--bg);
}

*::marker {
  font-size: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: var(--purple);
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

body.loaded {
  opacity: 1;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: var(--height);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--bg);
  position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover {
  border: none;
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0 1000px var(--bg) inset;
  color: var(--text);
  box-shadow: 0 0 0 1000px var(--bg) inset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

input,
textarea,
label {
  cursor: pointer;
}

img {
  pointer-events: none;
}

button, button:hover {
  outline: 0;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  color: var(--text);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--text);
  text-decoration: none;
}

ul,
p,
label,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--text);
}

a {
  font-family: var(--title-font);
  font-weight: 400;
}

p,
li,
label,
input,
input::placeholder,
textarea,
[data-select-title],
[data-select-item] {
  font-weight: 300;
  font-family: var(--text-font);
  color: var(--text-gray);
}

input,
textarea,
[data-select-title],
[data-select-item] {
  color: var(--text);
}

b,
strong {
  font-family: var(--title-font);
  font-weight: 600;
  color: var(--text-gray);
}

section {
  height: 100%;
  width: 100vw;
  margin: -1px 0 0;
  padding: 0 0 2px;
  position: relative;
  opacity: 1;
  pointer-events: all;
  background-color: var(--bg);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 120px;
  margin: 0 auto;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
}

.overlay.active {
  background-color: rgba(108, 108, 108, 0.3);
  opacity: 1;
  visibility: visible;
}

.dark .overlay.active {
  background-color: rgba(22, 22, 22, 0.3);
}

.top {
  height: 80px;
  width: 100%;
}

/* start swiper */

.swiper {
  width: 100%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  background: transparent;
  background-color: transparent;
  border-radius: 100%;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet::after {
  content: "";
  width: 12px;
  height: 12px;
  background: transparent;
  background-color: transparent;
  border: 1px solid var(--purple);
  border-radius: 100%;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet::after {
  background-color: var(--purple);
}

[data-scroll-section],
.swiper-wrapper,
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper,
.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide,
.swiper-3d {
  will-change: transform, -webkit-transform, -moz-transform, -ms-transform, -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform, -moz-transform, -ms-transform, -o-transform;
}

[data-scroll-section],
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide {
  perspective: 111px !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  pointer-events: all;
  opacity: 0.5;
  cursor: pointer;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-disabled .btn__arrow:hover .btn__side_default,
.swiper-button-disabled .active .btn__arrow .btn__side_default {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.swiper-button-disabled .btn__arrow:hover .btn__side_hover,
.swiper-button-disabled .active .btn__arrow .btn__side_hover {
  -webkit-transform: translateY(35px);
  transform: translateY(35px);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

/* end swiper */

/* start buttons */

.text {
  display: -ms-flexbox;
  display: -webkit-box;
  display: inline-flex;
  height: 1em;
  width: fit-content;
  flex-direction: column;
  color: var(--text);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  overflow: hidden;
}

.text__rotate {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 1em;
  width: fit-content;
  flex: 0 0 auto;
  line-height: 1em;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.text__middle {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-transition: height 0.2s linear;
  transition: height 0.2s linear;
}

.text__middle .text__rotate {
  height: calc(1em + 1px);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.text__big {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition: height 0.2s linear;
  transition: height 0.2s linear;
}

.text__big .text__rotate {
  height: calc(1em + 2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.text__verybig {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-transition: height 0.2s linear;
  transition: height 0.2s linear;
}

.text__verybig .text__rotate {
  height: calc(1em + 3px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.text__rotate:nth-child(2) {
  color: var(--purple);
}

.text__rotate span {
  display: inline-block;
  -webkit-transition: transform 0.35s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.35s cubic-bezier(0.76, 0, 0.24, 1);
}

.header__nav_item.active .header__nav_link .text .text__rotate span,
.header__set_language_btn.active .text .text__rotate span,
.text.active .text__rotate span,
.text:hover .text__rotate span {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.text__rotate span {
  -webkit-transition-delay: calc(var(--inc-step)*0.03s);
  transition-delay: calc(var(--inc-step)*0.03s);
}

.btn {
  display: -ms-flexbox;
  display: -webkit-box;
  display: inline-flex;
  width: fit-content;
  height: 50px;
  padding: 0 60px;
  flex: 0 0 auto;
  align-items: center;
  border: 1px solid var(--border);
  background-color: transparent;
  position: relative;
  z-index: 1;
  -webkit-transition: border 0.3s linear, background-color 0.2s linear;
  transition: border 0.3s linear, background-color 0.2s linear;
  overflow: hidden;
}

.btn.checkbox {
  height: 40px;
}

.btn__input {
  padding: 0;
}

.btn__input .button__text {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  color: var(--text-gray);
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn__input .button__hover,
.btn__input .button__hover:after {
  height: 120%;
}

.btn:hover,
.btn.active:hover {
  color: var(--bg);
  border: 1px solid var(--purple);
}

.btn.active {
  color: var(--bg);
  background-color: var(--text);
  border: 1px solid var(--text);
}

.dark .btn:hover,
.dark .btn.active:hover {
  color: var(--text);
  border: 1px solid var(--purple);
}

.dark .btn.active {
  color: var(--text);
  background-color: var(--border);
  border: 1px solid var(--border);
}

.btn:hover .button__hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.btn:hover .button__hover:after {
  -webkit-transform: skew(0,-8deg);
  transform: skew(0,-8deg);
}

.button__text {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--title-font);
  color: var(--text-gray);
  position: relative;
  margin: auto;
  z-index: 1;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.button__text svg {
  width: 24px;
  height: 24px;
}

.header.header__transparent .button__text {
  color: var(--white);
  -webkit-transition: color 0.2s linear 1.4s;
  transition: color 0.2s linear 1.4s;
}

.header.active.header__transparent .btn .button__text,
.header.active.header__transparent .btn .button__text,
.header.active.header__transparent .button__text {
  color: var(--text-gray);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.header.active.header__transparent .btn:hover .button__text,
.header.active.header__transparent .btn.active .button__text {
  color: var(--white);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.header.header__transparent .btn,
.header.active.header__transparent .btn {
  -webkit-transition: background-color 0.2s linear 1.4s, border 0.2s linear 0.1s;
  transition: background-color 0.2s linear 1.4s, border 0.2s linear 0.1s;
}

.header.header__transparent .btn.active,
.header.active.header__transparent .btn.active {
  -webkit-transition: background-color 0.2s linear, border 0.2s linear 0.1s;
  transition: background-color 0.2s linear, border 0.2s linear 0.1s;
}

.button__count small {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-gray);
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.btn.active .button__text,
.btn:hover .button__text,
.btn.active .button__count small,
.btn:hover .button__count small {
  color: var(--bg);
}

.dark .btn.active .button__text,
.dark .btn:hover .button__text,
.dark .btn.active .button__count small,
.dark .btn:hover .button__count small {
  color: var(--text);
}

.button__hover {
  display: block;
  left: 0;
  -webkit-transform: translateY(102%);
  transform: translateY(102%);
  -webkit-transition: -webkit-transform 0s ease-out;
  transition: transform 0s ease-out;
}

.button__hover,
.button__hover:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--purple);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button__hover:after {
  content: "";
  right: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.header__set_language_btn {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header__set_language_btn:hover,
.header__set_language_btn:active,
.header__set_language_btn.active {
  color: var(--purple);
}

.button__close {
  display: block;
  width: 24px;
  height: 24px;
  padding: 20px;
  border: none;
  background: var(--bg);
  border-radius: 50%;
  cursor: pointer;
}

.button__close svg {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--text);
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s linear, color 0.3s linear;
  transition: transform 0.3s linear, color 0.3s linear;
}

.button__close:hover svg {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.button__close:hover svg {
  color: var(--purple);
}

.btn__arrow {
  height: 35px;
  width: 35px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.btn__side {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px solid var(--text);
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.btn__side svg {
  width: 10px;
  height: 10px;
}

.btn__side_default {
  background-color: var(--text);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.btn__arrow:hover .btn__side_default,
.active .btn__arrow .btn__side_default,
.expertise__button:hover .btn__arrow .btn__side_default {
  -webkit-transform: translateY(35px);
  transform: translateY(35px);
}

.btn__arrow:hover .btn__side_hover,
.active .btn__arrow .btn__side_hover,
.expertise__button:hover .btn__arrow .btn__side_hover {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.btn__side_default svg {
  color: var(--bg);
}

.btn__side_hover {
  background-color: var(--bg);
  -webkit-transform: translateY(-35px);
  transform: translateY(-35px);
}

.btn__side_hover svg {
  color: var(--text);
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox {
  padding: 0 20px;
  border-radius: 15px;
  background-color: var(--button-gray);
  border: 1px solid var(--button-gray);
}

.checkbox.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.dark .checkbox {
  background-color: var(--gray-border);
  border: 1px solid var(--gray-border);
}

.checkbox .button__text {
  color: var(--text);
}

.checkbox .button__hover,
.checkbox .button__hover:after {
  background-color: var(--border);
}

.checkbox.active .button__hover,
.checkbox.active .button__hover:after {
  display: none;
}

.checkbox:hover {
  color: var(--text);
  border: 1px solid var(--border);
}

.checkbox.active:hover {
  color: var(--bg);
  border: 1px solid var(--text);
}

.dark .checkbox.active {
  background-color: var(--text);
}

.dark .checkbox.active .button__text,
.dark .checkbox.active .button__count small {
  color: var(--bg);
}

.dark .checkbox:hover .button__text,
.dark .checkbox:hover .button__count small {
  color: var(--bg);
}

.dark .checkbox.active:hover {
  color: var(--text);
  border: 1px solid var(--bg);
}

.checkbox:hover .button__text,
.checkbox:hover .button__count small {
  color: var(--text);
}

.checkbox.active:hover .button__text,
.checkbox.active:hover .button__count small {
  color: var(--bg);
}

.dark .checkbox.active:hover .button__text,
.dark .checkbox.active:hover .button__count small {
  color: var(--bg);
}

.dark .checkbox .button__hover,
.dark .checkbox .button__hover:after {
  background-color: var(--text-gray);
}

.dark .checkbox:hover,
.dark .checkbox.active:hover {
  border: 1px solid var(--text-gray);
}

/* end buttons */

/* start header */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid var(--border);
  background-color: var(--bg);
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  overflow: hidden;
}

.header.header__transparent {
  background-color: transparent;
  -webkit-transition: background-color 0.2s linear 1.4s;
  transition: background-color 0.2s linear 1.4s;
}

.header.active.header__transparent {
  background-color: var(--bg);
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.header__container {
  padding: 0 60px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.header__progress {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: height 0.3s linear;
  transition: height 0.3s linear;
  background: transparent;
}

.header__progress_bar {
  width: 0%;
  background: var(--purple);
  -ms-flex: 0;
  -webkit-box-flex: 0;
  flex: 0;
  -ms-flex-preferred-size: 0%;
  flex-basis: 0%;
  -webkit-transition: flex-basis 0.3s linear, -webkit-flex-basis 0.3s linear, -ms-flex-preferred-size 0.3s linear;
  transition: flex-basis 0.3s linear, -webkit-flex-basis 0.3s linear, -ms-flex-preferred-size 0.3s linear;
  z-index: 2;
}

.header__burger {
  width: 40px;
  height: 40px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .5s ease-in-out, opacity 0.1s linear 0.3s;
  transition: .5s ease-in-out, opacity 0.1s linear 0.3s;
}

.header.hidden .header__burger {
  opacity: 0;
  -webkit-transition: .5s ease-in-out, opacity 0.1s linear;
  transition: .5s ease-in-out, opacity 0.1s linear;
}

.header__burger span {
  display: block;
  position: absolute;
  height: 1px;
  width: 50%;
  background-color: var(--text);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out, background-color 0.2s linear;
  transition: .25s ease-in-out, background-color 0.2s linear;
  overflow: hidden;
}

.header.header__transparent .header__burger span {
  background-color: white;
  -webkit-transition: .25s ease-in-out, background-color 0.2s linear 1.4s;
  transition: .25s ease-in-out, background-color 0.2s linear 1.4s;
}

.header.active.header__transparent .header__burger span {
  background-color: var(--text);
  -webkit-transition: .25s ease-in-out, background-color 0.2s linear;
  transition: .25s ease-in-out, background-color 0.2s linear;
}

.header__burger span:nth-child(even) {
  left: 50%;
  border-radius: 0;
}

.header__burger span:nth-child(odd) {
  left: 0;
  border-radius: 0;
}

.header__burger span:nth-child(1),
.header__burger span:nth-child(2) {
  bottom: 24px;
}

.header__burger span:nth-child(3),
.header__burger span:nth-child(4) {
  bottom: 14px;
}

.header__burger.active span:nth-child(1),
.header__burger.active span:nth-child(4) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__burger.active span:nth-child(2),
.header__burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__burger.active span:nth-child(1) {
  left: 3.5px;
  bottom: 26px;
}

.header__burger.active span:nth-child(2) {
  left: calc(50% - 3.5px);
  bottom: 26px;
}

.header__burger.active span:nth-child(3) {
  left: 3.5px;
  bottom: 13px;
}

.header__burger.active span:nth-child(4) {
  left: calc(50% - 3.5px);
  bottom: 13px;
}

.header__name {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  color: var(--text);
  opacity: 1;
  -webkit-transition: color 0.2s linear, opacity 0.1s linear 0.3s;
  transition: color 0.2s linear, opacity 0.1s linear 0.3s;
}

.header__name svg {
  width: 165px;
  height: 30px;
  object-fit: contain;
}

.header__name svg path:nth-child(2) {
  color: var(--purple);
}

.header__name svg path {
  opacity: 0;
  -webkit-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  -webkit-transition-delay: calc(var(--inc-step)*0.05s);
  transition-delay: calc(var(--inc-step)*0.05s);
}

.loaded .header__name svg path {
  opacity: 1;
}

.header.header__transparent .header__name {
  color: var(--white);
  -webkit-transition: color 0.2s linear 1.4s, opacity 0.1s linear 0.3s;
  transition: color 0.2s linear 1.4s, opacity 0.1s linear 0.3s;
}

.header.active.header__transparent .header__name {
  color: var(--text);
  -webkit-transition: color 0.2s linear, opacity 0.1s linear 0.3s;
  transition: color 0.2s linear, opacity 0.1s linear 0.3s;
}

.header.hidden .header__name {
  opacity: 0;
  -webkit-transition: color 0.2s linear, opacity 0.1s linear;
  transition: color 0.2s linear, opacity 0.1s linear;
}

.header__name:hover {
  color: var(--purple);
}

.header__right {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__links {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  gap: 60px;
  opacity: 1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.header__links.hidden {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.header__buttons {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 173px;
  align-items: center;
  gap: 25px;
  transition: -webkit-transform 0.3s linear, width 0.3s linear;
  transition: transform 0.3s linear, width 0.3s linear;
  position: relative;
  z-index: 101;
}

.header__buttons.active {
  /* width: 596px; */
  width: 387px;
}

.button__project {
  width: 173px;
  padding: 0;
}

.dark .button__project.active {
  background-color: var(--purple);
  border: 1px solid var(--purple);
}

.button__feedback {
  width: 184px;
  padding: 0;
}

.button__briefing {
  width: 124px;
  padding: 0;
}

.header__link,
.header__link:hover {
  text-transform: uppercase;
  color: var(--text-gray);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.header.header__transparent .header__link,
.header.header__transparent .header__link:hover {
  color: var(--white);
  -webkit-transition: color 0.2s linear 1.4s;
  transition: color 0.2s linear 1.4s;
}

.header.active.header__transparent .header__link,
.header.active.header__transparent .header__link:hover {
  color: var(--text-gray);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.icon__tg {
  width: 20.94px;
  height: 17.89px;
}

.icon__bn {
  width: 20.83px;
  height: 20.83px;
}

.icon__vk {
  width: 25px;
  height: 14.29px;
}

.icon__be {
  width: 24.99px;
  height: 16.5px;
}

/* end header */

/* start preloader */

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: var(--text);
}

.preloader__top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 1001;
  background-color: var(--white);
  -webkit-transition: top 0.5s linear;
  transition: top 0.5s linear;
}

.preloader__bottom {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  z-index: 1001;
  background-color: var(--white);
  -webkit-transition: top 0.5s linear;
  transition: top 0.5s linear;
}

.dark .preloader__top,
.dark .preloader__bottom {
  background-color: #000;
}

.preloader__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
  animation: preloader-rotate 2s infinite linear;
  z-index: 1002;
}

.loaded_hiding .preloader__image {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loaded .preloader {
  display: none;
}

.animation__trackpad {
  width: 80px;
  margin: 0 0 0 auto;
  color: var(--text);
}

.animation__trackpad svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.animation__hand {
  -webkit-animation: slide 1.5s linear infinite;
  animation: slide 1.5s linear infinite;
}

.animation__tap { 
  -webkit-animation: slide 1.5s linear infinite;
  animation: slide 1.5s linear infinite;
}

@-webkit-keyframes slide {
  0% {-webkit-transform:translateX(0px);transform:translateX(0px);}
  25% {-webkit-transform:translateX(-25px);transform:translateX(-25px);}
  50% {-webkit-transform:translateX(0px);transform:translateX(0px);}
  75% {-webkit-transform:translateX(25px);transform:translateX(25px);}
  100% {-webkit-transform:translateX(0px);transform:translateX(0px);}
}

@keyframes slide {
  0% {-webkit-transform:translateX(0px);transform:translateX(0px);}
  25% {-webkit-transform:translateX(-25px);transform:translateX(-25px);}
  50% {-webkit-transform:translateX(0px);transform:translateX(0px);}
  75% {-webkit-transform:translateX(25px);transform:translateX(25px);}
  100% {-webkit-transform:translateX(0px);transform:translateX(0px);}
}

/* end preloader */

/* start header__nav */

.header__nav {
  width: 100%;
  height: calc(var(--height) - 80px);
  position: fixed;
  top: 0px;
  left: 0;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  opacity: 0;
  -webkit-transition: -webkit-transform 1.4s cubic-bezier(0.77, 0, 0.175, 1) 0.15s, opacity 0s linear 1.4s, top 0s linear 1.4s;
  transition: transform 1.4s cubic-bezier(0.77, 0, 0.175, 1) 0.15s, opacity 0s linear 1.4s, top 0s linear 1.4s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 99;
  overflow: hidden;
}

.header__nav.active {
  top: 80px;
  opacity: 1;
  -webkit-transition: -webkit-transform 1.1s cubic-bezier(0.77, 0, 0.175, 1) 0.2s, opacity 0s linear 0s, top 0s linear 0.2s;
  transition: transform 1.1s cubic-bezier(0.77, 0, 0.175, 1) 0s, opacity 0.2s linear 0s, top 0s linear 0.2s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.header__nav::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.header__nav::-webkit-scrollbar-thumb {
  display: none;
  width: 0;
  background: var(--text);
}

.header__nav_block {
  height: calc(var(--height) - 80px);
  position: relative;
}

.header__nav_buttons {
  display: none;
}

.header__nav_container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  max-width: 1350px;
  min-height: calc(var(--height) - 80px);
  padding: 60px 80px;
  flex-direction: column;
  justify-content: center;
  gap: 110px;
}

.header__nav_flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.header__nav__contact {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 364px;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.header__nav_list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 581px;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.header__nav_item {
  width: max-content;
}

.header__nav_link {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.3s linear, transform 0.2s linear;
  transition-delay: 1s, 1s;
}

.header__nav.active .header__nav_link {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: calc(var(--inc-step)*0.1s + 0.7s);
  transition-delay: calc(var(--inc-step)*0.1s + 0.7s);
}

.header__nav_link h3 {
  font-size: 36px;
  line-height: 45px;
}

.header__subnav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 201px;
  height: 100%;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  counter-reset: n;
  z-index: 0;
}

.header__nav_item.active .header__subnav_list {
  opacity: 1;
  z-index: 1;
}

.header__subnav_item {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.3s linear, transform 0.2s linear;
}

.header__nav_item.active .header__subnav_item {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: calc(var(--inc-step)*0.1s);
  transition-delay: calc(var(--inc-step)*0.1s);
}

.header__subnav_link {
  text-transform: uppercase;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

.header__subnav_link:hover {
  color: var(--purple);
}

.header__nav_contact_item:not(:last-child) {
  margin-bottom: 20px;
}

.header__nav_contact_item p {
  margin-bottom: 20px;
}

.header__nav_contact_item,
.header__nav_bottom_social li,
.header__nav_bottom {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.3s linear, transform 0.2s linear;
  -webkit-transition-delay: 1s, 1s;
  transition-delay: 1s, 1s;
}

.header__nav.active .header__nav_contact_item,
.header__nav.active .header__nav_bottom_social li,
.header__nav.active .header__nav_bottom {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.header__nav.active .header__nav_contact_item:nth-child(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.header__nav.active .header__nav_bottom_social li:nth-child(1) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

.header__nav.active .header__nav_bottom_social li:nth-child(2) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

.header__nav.active .header__nav_bottom_social li:nth-child(3) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

.header__nav.active .header__nav_bottom_social li:nth-child(4),
.header__nav.active .header__nav_bottom {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}

.header__nav_contact_link {
  text-transform: uppercase;
}

.header__nav_link {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: max-content;
  text-transform: uppercase;
  align-items: center;
  gap: 26px;
}

.header__nav_link svg {
  display: none;
}

.header__set_mode {
  position: relative;
  padding: 3px 50px;
  width: 180px;
  text-transform: uppercase;
  border: 1px solid var(--border);
  text-align: center;
}

[data-clr-mode-active="light"] .header__set_mode_btn[data-clr-mode="dark"],
[data-clr-mode-active="dark"] .header__set_mode_btn[data-clr-mode="light"]  {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__set_mode_btn {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
}

.header__set_mode_btn::after {
  content: "";
  width: 180px;
  height: 100%;
  position: absolute;
  top: 0;
}

.header__set_mode_btn[data-clr-mode="dark"]::after {
  left: -140px;
}

[data-clr-mode-active="light"] .header__set_mode_btn[data-clr-mode="dark"]::after {
  left: 0;
}

.header__set_mode_btn[data-clr-mode="light"]::after {
  left: 0;
}

[data-clr-mode-active="dark"] .header__set_mode_btn[data-clr-mode="light"]::after {
  left: -140px;
}

.header__set_mode_btn svg {
  width: 16.06px;
  height: 17.51px;
}

.header__set_mode_btn[data-clr-mode="dark"] {
  right: -1px;
  left: calc(100% - 40px);
  z-index: 0;
  background: var(--purple);
  color: #cfcfcf;
  opacity: 0;
  -webkit-transition: left 0.2s linear, right 0.2s linear, opacity 0.2s linear 0.3s;
  transition: left 0.2s linear, right 0.2s linear, opacity 0.2s linear 0.3s;
}

.header__set_mode_btn[data-clr-mode="light"] {
  right: 100%;
  left: -1px;
  z-index: 0;
  background: var(--orange);
  color: var(--white);
  opacity: 0;
  -webkit-transition: left 0.2s linear, right 0.2s linear, opacity 0.2s linear 0.3s;
  transition: left 0.2s linear, right 0.2s linear, opacity 0.2s linear 0.3s;
}

[data-clr-mode-active="light"] .header__set_mode_btn[data-clr-mode="dark"] {
  right: 100%;
  left: -1px;
  z-index: 1;
  opacity: 1;
  -webkit-transition: left 0.2s linear, right 0.2s linear, opacity 0.2s linear 0.3s;
  transition: left 0.2s linear, right 0.2s linear, opacity 0.2s linear 0.3s;
}

[data-clr-mode-active="dark"] .header__set_mode_btn[data-clr-mode="light"] {
  right: -1px;
  left: calc(100% - 40px);
  z-index: 1;
  opacity: 1;
  -webkit-transition: left 0.2s linear, right 0.2s linear, opacity 0.2s linear 0.3s;
  transition: left 0.2s linear, right 0.2s linear, opacity 0.2s linear 0.3s;
}

.header__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav_bottom_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 60px;
}

.header__nav_bottom_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav_bottom_link:hover {
  color: var(--purple);
}

.header__nav_burger_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__nav_burger {
  position: absolute;
  top: 33px;
  right: 33px;
  z-index: 1;
}

.header__set_language,
.header__set_language_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__set_language_control {
  max-width: 0;
  opacity: 0;
  -webkit-transition: max-width 0.2s linear, opacity 0.2s linear;
  transition: max-width 0.2s linear, opacity 0.2s linear;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  overflow: hidden;
}

.header__set_language_control.active {
  max-width: 100px;
  opacity: 1;
  -webkit-transition-delay: 0.2s, 0.2s;
  transition-delay: 0.2s, 0.2s;
}

.header__set_language {
  width: 364px;
  align-items: center;
}

.header__set_language_icon {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 24px;
  align-items: center;
}

.header__set_language_icon svg {
  width: 24px;
  height: 24px;
}

.header__set_language_icon p {
  max-width: 0px;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear, max-width 0s, margin 0s;
  transition: opacity 0.2s linear, max-width 0s, margin 0s;
  -webkit-transition-delay: 0s, 0.2s, 0.2s;
  transition-delay: 0s, 0.2s, 0.2s;
  overflow: hidden;
}

.header__set_language_icon.active p {
  max-width: 1000px;
  margin: 0 0 0 10px;
  opacity: 1;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
  transition-delay: 0.2s, 0.2s, 0.2s;
}

.header__login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
  gap: 10px;
}

.header__login_image {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 24px;
  height: 24px;
}

.header__login_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* end header__nav */

/* start bitrix fun */

.bx-subscribe {
  height: 0px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.popup-window-content,
.popup-window {
  background-color: var(--bg) !important;
}

/* end bitrix fun */

/* start 1919px */
@media (max-width: 1919px) {
  .btn {
    height: 40px;
  }
}
/* end 1919px */

/* start 1439px */
@media (max-width: 1439px) {
}
/* end 1439px */

/* start 1023px */
@media (max-width: 1023px) {
  .header,
  .top {
    height: 70px;
  }
  .header__burger {
    width: 36px;
    height: 36px;
    left: auto;
    right: 22px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .header__burger span:nth-child(1),
  .header__burger span:nth-child(2) {
    bottom: 22px;
  }
  .header__burger span:nth-child(3),
  .header__burger span:nth-child(4) {
    bottom: 12px;
  }
  .header__burger.active span:nth-child(1) {
    bottom: 22px;
  }
  .header__burger.active span:nth-child(2) {
    bottom: 22px;
  }
  .header__burger.active span:nth-child(3) {
    bottom: 11px;
  }
  .header__burger.active span:nth-child(4) {
    bottom: 11px;
  }
  .header__nav {
    height: calc(var(--height) - 70px);
  }
  .header__nav.active {
    top: 70px;
  }
  .container {
    padding: 0 20px;
  }
}
/* end 1023px */
@media (max-width: 767px) {
}